.background {
    background-image: url(../images/backgraund1.png);
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-color: #000000;
    background-size: cover;  
    min-height: 540px;
    background-attachment: local;
}

.logo, .menu_item a {
    text-decoration: none;
    color: #ffffff;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.logo {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.menu_item {
    margin-right: 1.25rem;
    display: inline-block;
}

.item {
    width: 5.3rem;
    height: 2.2rem;
    border-radius: 1.25rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.item:hover {
    border: 0.1rem solid #ffffff; 
}
.menu_item:last-child {
    margin-right: 0px;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.wrapper_section h2 {
    color: #ffffff;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    text-transform: uppercase;
}

.wrapper_section span {
    display: block;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

.button {
   width: 280px;
   height: 40px; 
   text-align: center;
   border: none;
  border-radius: 1.25rem;
  background-color: #ff4e50;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 700;
    
}
 
.wrapper_section_partners, .wrapper_section {
    text-align: center;
}

.section_partners {
    padding-top: 70px;
}

.subtitle_section {
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
}

.card {
    width: 220px;
    position: relative;
    display: inline-block;
}


.img_card {
    display: block; 
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.card_button {
    position: absolute;
    top: 6rem;
    right: 5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 0.2rem solid #ffffff;
    background-repeat: no-repeat;
    background-position: center; 
}

.tv {
    background-image: url(../images/icons/128.png);
    background-color: #ff4e50;
}

.vial {
    background-image: url(../images/icons/155.png);
    background-color: #ffa507;
}

.cup {
    background-image: url(../images/icons/153.png);
    background-color: #1cd7ad;
}
.aircraft {
    background-image: url(../images/icons/170.png);
    background-color: #4e73db;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden, 
input[type='radio'].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.name {
    display: block;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.about {
    font-family: 'Roboto';
    font-weight: 300;
}

.section_partners_button {
   width: 275px;
   height: 40px; 
   display:block;
   margin:auto;
   text-align: center;
   border: 0.1rem solid #ff4e50;
   border-radius: 1.25rem;
   background: transparent;
   color: #ff4e50;
   font-family: 'Montserrat';
   font-weight: 700;
}

@media (max-width: 767px) {
    .mastheader [class*="col-"]:last-child {
        margin-bottom: 40px;
    }

    .mastheader [class*="col-"]:first-child {
        padding-top: 20px;
    }

    .mastheader [class*="col-"]:not(:last-child) {
        margin-bottom: 115px;
    }

    .wrapper_section h2, .wrapper_section span {
        margin-bottom: 20px;
    }

    .cards [class*="col-"]:not(:last-child) {
        margin-bottom: 30px;
    }

    .mb_ss {
        margin-bottom: 15px;
    }

    .pb_lch {
        padding-bottom: 40px;
    }

    .mb_cards {
        margin-bottom: 30px;
    }   
}

@media (min-width: 768px) and (max-width: 941px) {
    .background {
        min-width: 768px;
        background-image: url(../images/backgraund3.png);
    }

    .cards [class*="col-"]:nth-child(-n+2) {
        margin-bottom: 30px;
    } 

    .pb_lch {
        padding-bottom: 40px;
    }
    
}

@media (min-width: 942px) {
    .background {
        min-width: 942px;
        background-image: url(../images/backgraund2.png);
    } 

    .pb_lch {
        padding-bottom: 70px;
    }
}

@media (min-width: 768px) {
    .mastheader {
        padding-top: 35px;
    }

    .mb {
        margin-bottom: 150px;
    }

    .wrapper_section h2 {
        margin-bottom: 40px;
    }

    .wrapper_section span {
        margin-bottom: 35px;
    }

    .mb_ss {
        margin-bottom: 35px;
    }

    .mb_cards {
        margin-bottom: 40px;
    } 
}

