* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
    width: 900px;
    padding: 70px 0;
    margin: 0 auto;
 }

 .page-navigation {
    text-align: center;
 }

 .page-navigation li {
    display: inline-block;
    margin-right: 50px;
 }

.page-navigation a {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
 }

 .page-navigation :hover {
    color: black;
 }

 .blocks article h2 {
    font-size: 30px;
    color: #626262;
    line-height: 36px;
    margin-bottom: 40px;
 }

 .blocks {
    padding-top: 100px;
 }

.signature {
    display: block;
    font-family: 'Ubuntu', sans-serif; 
    text-transform: uppercase;
    margin-bottom: 35px;
    color: #b4ad9e;
}

.blocks article {
    display: inline-block;
    width: 420px; 
 }

 .first, .third, .fifth {
    margin-right: 60px;
 }

 .first, .second, .third, .fourth {
    margin-bottom: 135px;
 }

 .second, .fourth, .sixth {
    margin-left: -4px;
 }


 .sixth, .fifth {
    margin-bottom: 55px;
 }

 .img {
    margin-bottom: 30px;
 }

   .center {
    display: block;
    margin: auto;
    line-height: 26px;
    font-size: 20px;
    width: 165px;
    height: 60px;
    color: #626262;
    background-color: transparent;
    border: 1px solid #626262;
    font-family: serif;
 }
 